---
import {Badge} from '@astrojs/starlight/components';
import {uCFirst} from "@/lib/utils";
import type {FrontmatterConfig} from '@/types';

import { LibrarianBanners } from '@/components/LibrarianBanners';
import {useTranslation} from "../lib/utils";

const {
    author,
    banner,
    category,
    description,
    draft,
    editUrl,
    head,
    hero,
    lastUpdated,
    next,
    prev,
    sidebar,
    slug,
    template,
    title,
} = Astro.props.frontmatter as FrontmatterConfig;

const locale = Astro.currentLocale;

---

<div class="flex flex-auto flex-row justify-between mb-4">
    <p class="text-sm inline-block self-start">
        {lastUpdated && (
                <>
                    {useTranslation('ui.lastUpdated', locale)} &nbsp; {new Date(lastUpdated).toLocaleDateString(locale, {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                })}
                </>
        )}
    </p>
    {category && (
            <Badge text={uCFirst(category)} variant="note" class="w-fit"/>
    )}
</div>

<LibrarianBanners locale={locale} client:only="react" />

<slot/>